@charset "utf-8";
/* CSS Document */

.leftcon{overflow-y:auto; overflow-x:hidden; width:214px; height:100%; }
.leftnavbar{margin:0;}
.leftnavbar li{ height:18px;padding: 6px 0 8px 10px; cursor:pointer; display:block;}
.leftnavbar li i{margin-right: 15px;color:#bebebe;margin-top: 2px;vertical-align: top;}
.leftnavbar li.hit{ background:#58c3e5; color:#fff;}
.leftnavbar li.active{ color:#000; display:block; float:left; width:203px;}
.leftnavbar li.active.hit{background: #ccc;border-left: 3px solid #000;margin-left: -3px;}
.leftnavbar span{float:left;}
.slideleft{float: right;margin-right:15px;margin-top: 8px;}

.hideul{ margin:0; display:none;}
.twoimg{margin-top: -6px;margin-right: 10px;}