<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsr.core.persistence.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tsr.api.bean.ProductInfo" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_second_name" property="productSecondName" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="first_class" property="firstClass" jdbcType="VARCHAR" />
    <result column="third_class" property="thirdClass" jdbcType="VARCHAR" />
    <result column="second_class" property="secondClass" jdbcType="VARCHAR" />
    <result column="meta_keywords" property="metaKeywords" jdbcType="VARCHAR" />
    <result column="meta_description" property="metaDescription" jdbcType="VARCHAR" />
    <result column="meta_title" property="metaTitle" jdbcType="VARCHAR" />
    <result column="sale_status" property="saleStatus" jdbcType="TINYINT" />
    <result column="onsale_start_datetime" property="onsaleStartDatetime" jdbcType="TIMESTAMP" />
    <result column="onsale_end_datetime" property="onsaleEndDatetime" jdbcType="TIMESTAMP" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="is_visable" property="isVisable" jdbcType="TINYINT" />
    <result column="first_attr_code" property="firstAttrCode" jdbcType="VARCHAR" />
    <result column="second_attr_code" property="secondAttrCode" jdbcType="VARCHAR" />
    <result column="is_points" property="isPoints" jdbcType="TINYINT" />
    <result column="is_in_stock" property="isInStock" jdbcType="INTEGER" />
    <result column="publish_status" property="publishStatus" jdbcType="TINYINT" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="create_operator" property="createOperator" jdbcType="VARCHAR" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="update_operator" property="updateOperator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_second_name, supplier_id, supplier_name, brand_id, 
    brand_name, category_id, first_class, third_class, second_class, meta_keywords, meta_description, 
    meta_title, sale_status, onsale_start_datetime, onsale_end_datetime, room_type, is_delete, 
    is_visable, first_attr_code, second_attr_code, is_points, is_in_stock, publish_status, 
    create_datetime, create_operator, update_datetime, update_operator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_info
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsr.api.bean.ProductInfo" >
    insert into product_info (product_id, product_name, product_second_name, 
      supplier_id, supplier_name, brand_id, 
      brand_name, category_id, first_class, 
      third_class, second_class, meta_keywords, 
      meta_description, meta_title, sale_status, 
      onsale_start_datetime, onsale_end_datetime, 
      room_type, is_delete, is_visable, 
      first_attr_code, second_attr_code, is_points, 
      is_in_stock, publish_status, create_datetime, 
      create_operator, update_datetime, update_operator
      )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productSecondName,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, 
      #{brandName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{firstClass,jdbcType=VARCHAR}, 
      #{thirdClass,jdbcType=VARCHAR}, #{secondClass,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaTitle,jdbcType=VARCHAR}, #{saleStatus,jdbcType=TINYINT}, 
      #{onsaleStartDatetime,jdbcType=TIMESTAMP}, #{onsaleEndDatetime,jdbcType=TIMESTAMP}, 
      #{roomType,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{isVisable,jdbcType=TINYINT}, 
      #{firstAttrCode,jdbcType=VARCHAR}, #{secondAttrCode,jdbcType=VARCHAR}, #{isPoints,jdbcType=TINYINT}, 
      #{isInStock,jdbcType=INTEGER}, #{publishStatus,jdbcType=TINYINT}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tsr.api.bean.ProductInfo" >
    insert into product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productSecondName != null" >
        product_second_name,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="firstClass != null" >
        first_class,
      </if>
      <if test="thirdClass != null" >
        third_class,
      </if>
      <if test="secondClass != null" >
        second_class,
      </if>
      <if test="metaKeywords != null" >
        meta_keywords,
      </if>
      <if test="metaDescription != null" >
        meta_description,
      </if>
      <if test="metaTitle != null" >
        meta_title,
      </if>
      <if test="saleStatus != null" >
        sale_status,
      </if>
      <if test="onsaleStartDatetime != null" >
        onsale_start_datetime,
      </if>
      <if test="onsaleEndDatetime != null" >
        onsale_end_datetime,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isVisable != null" >
        is_visable,
      </if>
      <if test="firstAttrCode != null" >
        first_attr_code,
      </if>
      <if test="secondAttrCode != null" >
        second_attr_code,
      </if>
      <if test="isPoints != null" >
        is_points,
      </if>
      <if test="isInStock != null" >
        is_in_stock,
      </if>
      <if test="publishStatus != null" >
        publish_status,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="createOperator != null" >
        create_operator,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="updateOperator != null" >
        update_operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSecondName != null" >
        #{productSecondName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="firstClass != null" >
        #{firstClass,jdbcType=VARCHAR},
      </if>
      <if test="thirdClass != null" >
        #{thirdClass,jdbcType=VARCHAR},
      </if>
      <if test="secondClass != null" >
        #{secondClass,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="onsaleStartDatetime != null" >
        #{onsaleStartDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="onsaleEndDatetime != null" >
        #{onsaleEndDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isVisable != null" >
        #{isVisable,jdbcType=TINYINT},
      </if>
      <if test="firstAttrCode != null" >
        #{firstAttrCode,jdbcType=VARCHAR},
      </if>
      <if test="secondAttrCode != null" >
        #{secondAttrCode,jdbcType=VARCHAR},
      </if>
      <if test="isPoints != null" >
        #{isPoints,jdbcType=TINYINT},
      </if>
      <if test="isInStock != null" >
        #{isInStock,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=TINYINT},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null" >
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        #{updateOperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsr.api.bean.ProductInfo" >
    update product_info
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSecondName != null" >
        product_second_name = #{productSecondName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="firstClass != null" >
        first_class = #{firstClass,jdbcType=VARCHAR},
      </if>
      <if test="thirdClass != null" >
        third_class = #{thirdClass,jdbcType=VARCHAR},
      </if>
      <if test="secondClass != null" >
        second_class = #{secondClass,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null" >
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null" >
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null" >
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="saleStatus != null" >
        sale_status = #{saleStatus,jdbcType=TINYINT},
      </if>
      <if test="onsaleStartDatetime != null" >
        onsale_start_datetime = #{onsaleStartDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="onsaleEndDatetime != null" >
        onsale_end_datetime = #{onsaleEndDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isVisable != null" >
        is_visable = #{isVisable,jdbcType=TINYINT},
      </if>
      <if test="firstAttrCode != null" >
        first_attr_code = #{firstAttrCode,jdbcType=VARCHAR},
      </if>
      <if test="secondAttrCode != null" >
        second_attr_code = #{secondAttrCode,jdbcType=VARCHAR},
      </if>
      <if test="isPoints != null" >
        is_points = #{isPoints,jdbcType=TINYINT},
      </if>
      <if test="isInStock != null" >
        is_in_stock = #{isInStock,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null" >
        publish_status = #{publishStatus,jdbcType=TINYINT},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null" >
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsr.api.bean.ProductInfo" >
    update product_info
    set product_name = #{productName,jdbcType=VARCHAR},
      product_second_name = #{productSecondName,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      first_class = #{firstClass,jdbcType=VARCHAR},
      third_class = #{thirdClass,jdbcType=VARCHAR},
      second_class = #{secondClass,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      sale_status = #{saleStatus,jdbcType=TINYINT},
      onsale_start_datetime = #{onsaleStartDatetime,jdbcType=TIMESTAMP},
      onsale_end_datetime = #{onsaleEndDatetime,jdbcType=TIMESTAMP},
      room_type = #{roomType,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_visable = #{isVisable,jdbcType=TINYINT},
      first_attr_code = #{firstAttrCode,jdbcType=VARCHAR},
      second_attr_code = #{secondAttrCode,jdbcType=VARCHAR},
      is_points = #{isPoints,jdbcType=TINYINT},
      is_in_stock = #{isInStock,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=TINYINT},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>