<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
        <title>login</title>
        <link rel="icon" href="#springUrl('/favicon.ico')" type="image/x-icon" />
        <link rel="shortcut icon" href="#springUrl('/favicon.ico')" type="image/x-icon" />
        <link href="#springUrl('/resource/css/login.css')" rel="stylesheet" />
        <script src="#springUrl('/resource/js/jquery.js')"></script>
		<script src="#springUrl('/resource/js/checkform.js')"></script>
		<script type="text/javascript" src="#springUrl('/resource/js/common-util.js')"></script>
    </head>
<body>
<div class="loginblue"></div>
<div class="loginbox">
   <div class="loginboxtop">
     <div class="logosel"><img src="#springUrl('/resource/images/loginselement.png')" /></div>
     <div class="loginboxtopdiv">
       <p>家品会后台管理系统<span>hxShop</span></p>
       <!--<img src="#springUrl('/resource/images/2.png')" class="logo" width="139" />-->
     </div>
   </div>
   <div class="loginboxtitle"></div>
   <div class="box">
      <div class="boxdiv">
		 <form id="loginForm" name="loginForm" action="#springUrl('/login.htm')" method="post" >
             <ul>
                <li><img src="#springUrl('/resource/images/loginuser.png')"></li>
                <li style="margin-top:15px;">用户名：</li>
                <li><input id="systemUserName" type="text" name="sysUser.systemUserName" value="$!{sysUser.systemUserName}" onkeydown="javascript:if(event.keyCode==13){$('#password').focus()}" /></li>
             </ul>
             <ul>
                <li><img src="#springUrl('/resource/images/loginpassword.png')"></li>
                <li style="margin-top:15px;width: 50px;">密码：</li>
                ##<li style="margin-top:15px;width: 50px;">$!{hello}</li>
                <li><input id="password" type="password" name="sysUser.password" value="$!{sysUser.password}" onkeydown="javascript:if(event.keyCode==13){$('#code').focus()}" /></li>
             </ul>
             <ul>
                <li style="width:30px;"><img src="#springUrl('/resource/images/pen.png')" style="width:23px;"></li>
                <li style="margin-top:15px;">验证码：</li>
                <li><input id="code" type="text" class="span2" name="code" value="" onkeydown="javascript:if(event.keyCode==13){$('#loginbtn').click()}" /></li>
                <li><img id="validateCodeImage" src="#springUrl('/validateCodeImage.htm')" style="height:30px; width:74px;cursor: pointer;" /></li>
             </ul>
		 </form>
         <div style="clear:both;text-align:center;"><span id="errorMessage" style="color:red;font-size: 16px;">$!loginMessage</span></div>
         <div id="loginbtn" class="loginbtn"> <img src="#springUrl('/resource/images/loginbtn.png')" /> </div>
      </div>
   </div>
   <div class="copy">#parse("/common/version.vm")</div>
</div>
<div class="loginbottom"></div>

<script type="text/javascript">
		//<![CDATA[
		$(function(){
	
    		
        init();
        
        $(window).resize(function(){
            init(); 
        })
        
        function init(){
                    
            var loginblueTop = parseInt( ($(window).height() -  $('.loginblue').height() ) / 2);
            $('.loginblue').css('top',loginblueTop+'px');
            
            var loginboxTop = parseInt( ($(window).height() -  $('.loginbox').height() ) / 2);
            var loginboxLeft = parseInt( ($(window).width() -  $('.loginbox').width() ) / 2);
            $('.loginbox').css('top',loginboxTop -100 +'px');
            $('.loginbox').css('left',loginboxLeft+'px');
            
            var loginboxTitleLeft = parseInt( ($('.loginbox').width() -  $('.loginboxtitle').width() ) / 2);
            $('.loginboxtitle').css('left',loginboxTitleLeft+'px');
            
            var boxLeft = parseInt( ($('.loginbox').width() -  $('.box').width() ) / 2);
            $('.box').css('left',boxLeft+'px');
            
            var logoLeft = parseInt( ($('.loginboxtopdiv').width() -  $('.loginboxtopdiv>p').width() ) / 2);
            $('.logo').css('margin-left',logoLeft+'px');
            
            var loginbottom = parseInt(($(window).width() -  $('.loginbottom').width() ) / 2);
            $('.loginbottom').css('left',loginbottom+'px');

        }
			
			var checkForm=new CheckForm.Form([new CheckForm.Field({
                     fieldId:"systemUserName",
                     validators:[new CheckForm.LengthValidtor(1,100,"用户名不能为空!")],
                     success:function(text){
                         $('#errorMessage').html("");
                     },
                     error:function(text){
                         $('#errorMessage').html(text);
                     }
         		 }),
				 new CheckForm.Field({
                    fieldId:"password",
                     validators:[new CheckForm.LengthValidtor(1,100,"密码不能为空!")],
                     success:function(text){
                         $('#errorMessage').html("");
                     },
                     error:function(text){
                         $('#errorMessage').html(text);
                     }
         		 }),
				new CheckForm.Field({
                    fieldId:"code",
                     validators:[new CheckForm.LengthValidtor(1,100,"验证码不能为空!")],
                     success:function(text){
                         $('#errorMessage').html("");
                     },
                     error:function(text){
                         $('#errorMessage').html(text);
                     }
         		 })
             ]);
             checkForm.setSubmit(
                 "loginbtn",
                 function(){
					 var form = $("#loginForm");
					 form.submit();
                 }
             );
			 $('#validateCodeImage').click(function(){
			 	 var date = new Date();
			 	 $(this).attr("src","#springUrl('/validateCodeImage.htm')?timestamp="+date.getTime());
			 });
		});
		
</script>
</body>
</html>