<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="红星家品会,hxshop,打折,品牌折扣,限时抢购,特卖" name="keywords">
<meta content="红星家品会，品牌家居特卖网。红星家品会商品囊括家居、家具、建材等上千品牌。100%正品、低价、7天无条件退货。" name="description">
<link media="screen" href="static/css/frame.css" rel="stylesheet" type="text/css">
<link href="resource/css/detail.css" rel="stylesheet" type="text/css" />
<link href="resource/css/jqzoom.css" rel="stylesheet" type="text/css" />
<title>商品详细</title>
<!--懒加载库 合并到jquery库中-->
<script type="text/javascript" src="static/js/jquery.js"></script>
<script src="static/js/top.js"></script>
<script src="static/js/bottom.js"></script>
</head>
<body>
<div class="top"></div>
<!--头部 内容在top.js--> 
<!--面包屑-->
<div class="current">
  <h2 class="currentNav"><a href="index.html">首页</a> > <a href="">家具</a> > <a href="">书房</a> > 书柜/书架 </h2>
</div>
<!--面包屑 END-->

<div class="goodsChoose"> 
  <!--放大镜区域-->
  <div class="goodsChooseLeft">
    <div class="mainleft">
      <div id="image_content">
        <div class="jqzoom">
        <!--<img id="current_img" jqimg="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg.700x700.jpg" src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg.430x430.jpg" width="430" height="430" alt=""> --></div>
      </div>
      <!-- 小图却换 -->
      <div class="showwindow"> <span class="leftb dicon"></span> <span class="rightb dicon"></span>
        <ul class="imagelist">
          <li class="select" onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg')"> <img src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg.88x88.jpg" alt="" width="88" height="88" /> </li>
          <li onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAUKc_AAKQH9b75yE152.jpg')" > <img src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAMzyvAAFn0nQsU3M834.jpg.88x88.jpg" alt="" width="88" height="88"  /> </li>
          <li onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAMzyvAAFn0nQsU3M834.jpg')" > <img src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAMzyvAAFn0nQsU3M834.jpg.88x88.jpg" alt="" width="88" height="88"  /> </li>
          <li onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg')"> <img  src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWKAAOgzAALObSNgIyo265.jpg.88x88.jpg" alt="" width="88" height="88"  />
          <li onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAUKc_AAKQH9b75yE152.jpg')" > <img src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAUKc_AAKQH9b75yE152.jpg.88x88.jpg" alt="" width="88" height="88"  /> </li>
          <li onclick="changeImg('#current_img','http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAMzyvAAFn0nQsU3M834.jpg')" > <img src="http://pic01.hxshopimg.com//g1/M00/02/75/CgoDBVMpOWOAMzyvAAFn0nQsU3M834.jpg.88x88.jpg" alt="" width="88" height="88"  /> </li>
        </ul>
      </div>
      <!-- 小图却换 end--> 
    </div>
    <div class="share"> 
      <!-- JiaThis Button BEGIN -->
      <!--
      <div class="jiathis_style" style="position:absolute; right:0px;"> <span class="jiathis_txt">分享该商品到：</span> <a class="jiathis_button_tsina"></a> <a class="jiathis_button_weixin"></a> <a class="jiathis_button_douban"></a> <a class="jiathis_button_evernote"></a> <a class="jiathis_button_qzone"></a> <a class="jiathis_button_tqq"></a> <a class="jiathis_button_renren"></a> <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> <a class="jiathis_counter_style"></a> </div>
    	-->
      <!-- JiaThis Button END --> 
    </div>
  </div>
  <div class="goodsChooseRight">
    <div class="pos"> 
      <!--右部商品信息-->
      <h3 class="goods_title" title="[彼岸阳光]  地中海风格 进口实木书柜[彼岸阳光]  地中海风格 进口实木书柜">[彼岸阳光]  地中海风格 进口实木书柜[彼岸阳光]  地中海风格 进口实木书柜</h3>
      <h4 class="goods_subtitle b_dot">小户型家庭首选产品！设计合理，占用空间小！精选优质实木材质!</h4>
      <div class="goods_no">商品编号：741098</div>
      <div class="goods_price" style="margin-top:2px;">促<span style="margin-left:6px;"></span>销<span style="margin-left:6px;"></span>价：<span class="g_p1">¥</span> <span class="g_p2">349.00</span> <span class="goods_zk_btn"  />3.5折</span> <img src="static/img/djs.jpg" style="margin-left:10px;" /> 剩余<span class="c3">06</span>天<span class="c3">12</span>小时<span class="c3">45</span>分<span class="c3">10</span>秒</div>
      <div class="goods_price">原<span style="margin-left:6px;"></span>价<span style="margin-left:6px;"></span>格：<span class="price_del">¥1099.00</span></div>
      <div class="goods_cxxx">
        <div class="goods_cx_left">促销信息：</div>
        <div class="goods_cx_middle">
          <div style="color:#c00; overflow:hidden; "><span class="goods_zk_btn"/>折扣</span> 整单9折优惠</div>
          <div class="opencontent0" style="display:none; padding-bottom:10px;color:#c00;">
            <div style="margin-top:10px;"><span class="goods_zk_btn" />满减</span> 满99.0减20.0，满159.0减30.0</div>
            <div style="margin-top:10px;"><span class="goods_zk_btn" />满赠</span> 满99.0赠20.0，满159.0赠30.0</div>
          </div>
        </div>
        <div class="goods_cx_right"> <span class="open0" style="cursor:pointer;color:#4f467c">展开更多∨</span> </div>
      </div>
      <div style="clear:both"></div>
      <div class="good_fs"> 发<span style="margin-left:6px;"></span>送<span style="margin-left:6px;"></span>至：
        <input type="button" class="citybox" value="请选择..." />
        <select style="width:98px;">
          <option>浦陀区</option>
        </select>
        <!--<input class="btn2" type="button" value="运费说明" />-->
        <div style="position:relative; *z-index:10;">
          <div class="citySel" style="left:64px; top:-1px;">
            <div class="cityClose">x</div>
            <ul>
              <li>
                <div>新疆维物尔自治区</div>
                <ul>
                  <li>新疆维物尔自治区自治区</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>浦东</li>
                  <li>青浦</li>
                </ul>
              </li>
              <li>
                <div>黑龙江</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>北京</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
              <li>
                <div>上海</div>
                <ul>
                  <li>北京1</li>
                  <li>北京2</li>
                  <li>北京3</li>
                  <li>北京4</li>
                  <li>北京5</li>
                  <li>北京6</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="goods_fw b_dot">服<span class="space1"></span>务：由红星家品会
        <select style="width:160px;">
          <option>送货上门并安装 ￥399</option>
          <option>送货上门 ￥240</option>
          <option>自取 ￥50</option>
        </select>
        <a href="">运费说明</a> </div>
      <div class="goods_support goods_tishi" style="position:relative;">
        <!--<div class="gs_gb" style="position:absolute; right:3px; top:4px; cursor:pointer; display:none;"><img src="static/img/gb.jpg" /></div>-->
        <div class="goods_color">
          <div class="goods_color_left">颜<span class="space1"></span>色：</div>
          <div class="goods_color_right">
            <ul class="colorChoose">
              <li class="colorHit">黄色</li>
              <li>浅黄色</li>
              <li>深黄色</li>
            </ul>
          </div>
        </div>
        <div class="goods_color">
          <div class="goods_color_left">尺<span class="space1"></span>码：</div>
          <div class="goods_color_right">
            <ul class="sizeChoose">
              <li>XS</li>
              <li>S</li>
              <li class="sizeHit">M</li>
              <li>L</li>
            </ul>
          </div>
        </div>
        <div class="goods_color">
          <div class="goods_color_left">购买数量：</div>
          <div class="goods_color_right">
            <div class="jishu">
              <div class="js_add"></div>
              <div class="js_minus"></div>
              <input type="text" value="1" class="js_num" />
            </div>
          </div>
        </div>
        <div class="gs_tishi" style="color:#d73634; margin:10px 0; display:none;">请勾选您要的商品信息</div>
      </div>
      <div id="gotoBuy" class="lijigoumai"></div>
      <!--立即购买-->
      <div id="addcart"  class="gotoCar"></div>
      <!--放入购物车--> 
      <!--弹出框--> 
    </div>
  </div>
</div>



<div class="goodsInfo">
  <div class="goodsInfoLeft">
    <div class="xqTitle">相关分类</div>
    <div class="flList">
      <ul>
        <li><a href="">实木床</a></li>
        <li><a href="">板木床</a></li>
        <li><a href="">硬床</a></li>
        <li><a href="">软床</a></li>
        <li><a href="">布艺床</a></li>
        <li><a href="">皮质床</a></li>
      </ul>
    </div>
    <div style="clear:both"></div>
    <div class="xqTitle">同类其他品牌</div>
    <div class="flList">
      <ul>
        <li><a href="">安曼</a></li>
        <li><a href="">鹿鸠</a></li>
        <li><a href="">海鸥</a></li>
        <li><a href="">玛莎家居</a></li>
        <li><a href="">聖喬治</a></li>
        <li><a href="">FANTA福</a></li>
        <li><a href="">安曼</a></li>
        <li><a href="">鹿鸠</a></li>
        <li><a href="">海鸥</a></li>
        <li><a href="">玛莎家居</a></li>
        <li><a href="">聖喬治</a></li>
        <li><a href="">FANTA福</a></li>
      </ul>
    </div>
    <div style="clear:both"></div>
    <div class="xqTitle">销售排行</div>
    <div class="xqList">
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul style="border-bottom:0;">
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
    </div>
    <div class="xqTitle" style="margin-top:20px;">购买了该商品的用户还购买了</div>
    <div class="xqList">
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul>
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
      <ul style="border-bottom:0;">
        <li class="xqImg"><img src="static/img/g_xq1.jpg" width="100" height="100" /></li>
        <li class="xqDesc"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></li>
        <li class="xqPrice">￥399.00</li>
        <li class="xqMarket">￥599.00</li>
      </ul>
    </div>
  </div>
  <div class="goodsInfoRight">
  	<!--优惠组合-->
  	<div class="yhtz">
    	
        <div class="yhtz_title"></div>
        
        <div class="yhtz_tab">
            <ul>
                <li style="border-left:0;" class="hit">优惠组合1</li>
                <li>优惠组合2</li>
                <li>优惠组合3</li>
            </ul>
        </div>
    	
        <div class="yhtz_c">
        	<!--优惠组合1-->
        	<div>
    			<div class="master">
                    <s></s>
                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                    <div class="master_price">￥349.00</div>
                    <div class="master_del">￥599.00</div>
                </div>
       			<div class="subb">
          
                    <div class="yhtz_content">  
                        <div class="sub">
                            <ul>
                                <li>
                                	<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                               <li>
                               		<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                                <li>
                                	<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                                <li>
                                	<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                                 <li>
                                 	<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                                <li>
                                	<s></s>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥349.00</div>
                                    <div class="master_del">￥599.00</div>
                                </li>
                                
                            </ul>
                        </div>                
                    </div>
                              
                    <div class="yhtz_total">
                        <div class="yh_tc">套餐价：<span class="tcamount">￥10180.00</span></div>
                        <div class="yh_js">共节省：￥<span class="jsamount">2590.00</span></div>
                        <div class="yh_jr"></div>
                    </div>
                
           		 </div>
        	</div>
            <!--优惠组合1 end-->
        	
            <!--优惠组合2-->
        	<div style="display:none;">
    			<div class="master">
                    <s></s>
                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                    <div class="master_price">￥449.00</div>
                    <div class="master_del">￥699.00</div>
                </div>
       			<div class="subb">     
                    <div class="yhtz_content">  
                        <div class="sub">
                            <ul>
                                <li>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥1349.00</div>
                                    <div class="master_del">￥1599.00</div>
                                </li>
                                
                            </ul>
                        </div>                
                    </div>
                    
                    
                    <div class="yhtz_total">
                        <div class="yh_tc">套餐价：<span class="tcamount">￥12899</span></div>
                        <div class="yh_js"><span class="jsamount">1280</span></div>
                        <div class="yh_jr"></div>
                    </div>
                    
                    
                </div>
        	</div>
            <!--优惠组合2 end-->
            
            <!--优惠组合3-->
            <div style="display:none;">
    			<div class="master">
                    <s></s>
                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                    <div class="master_price">￥2449.00</div>
                    <div class="master_del">￥2699.00</div>
                </div>
       			<div class="subb">     
                    <div class="yhtz_content">  
                        <div class="sub">
                            <ul>
                                <li>
                                    <div><a href=""><img src="static/img/g_xq1.jpg" width="100" height="100"></a></div>
                                    <div class="master_link"><a href="">美达斯 双门附格层架鞋柜 浅胡桃木色11667</a></div>
                                    <div class="master_price">￥2349.00</div>
                                    <div class="master_del">￥2599.00</div>
                                </li>
                                
                            </ul>
                        </div>                
                    </div>
                    
                    
                    <div class="yhtz_total">
                        <div class="yh_tc">套餐价：<span class="tcamount">￥22899</span></div>
                        <div class="yh_js"><span class="jsamount">2280</span></div>
                        <div class="yh_jr"></div>
                    </div>
                    
                    
                </div>
        	</div>
            <!--优惠组合3 end-->
        
        </div>
    </div>
  	
  
  
    <div class="spTab">
      <div class="ppMore">了解更多该品牌商品 <span class="c4">MORE...></span></div>
      <ul>
        <li class="spTabHit" name="xiangqing" >商品详情</li>
        <li name="guige">规格参数</li>
       
        <li name="shouhou">售后服务</li>
        <li>累积评价(9)</li>
        <li name="refer">购买咨询</li>
      </ul>
      <div id="addcart" class="gotoCar gtcar" style="position:absolute; right:0px; top:45px; width:120px; height:30px; background-position: -142px -27px; display:none;"></div>
    </div>
    <div class="spContent"> 
      <!--商品详情-->
      <div>
        <div class="goodsInfo1" style="height:1493px;"> <a name="xiangqing" style="display:block;"></a>
          <div style="height:20px; display:block; "></div>
          <div class="spAttr">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>商品名称：桃花芯木7套装（1+2+3+茶几+方几+2凳子）</td>
                <td>品牌：凯撒豪庭</td>
                <td>商品尺寸：899×355×1900mm</td>
              </tr>
              <tr>
                <td>商品编号：KSHT-RX-XC31-TZ </td>
                <td>商品材质：桃花芯木 </td>
                <td>商品产地：山东青岛</td>
              </tr>
              <tr>
                <td>订单模式：24小时闪电发货</td>
                <td>净重量：79KG </td>
                <td>商品体积：1.1立方米</td>
              </tr>
            </table>
          </div>
          <div><img src="http://www.hxshop.com/static/img/pub/dev/web/g.gif" original="static/img/desc_03.jpg" width="949" height="256" alt="服务承若" /></div>
          <div><img src="http://www.hxshop.com/static/img/pub/dev/web/g.gif" original="static/img/desc_05.jpg" width="949" height="57" alt="商品详情" /></div>
          <div><img src="http://www.hxshop.com/static/img/pub/dev/web/g.gif" original="static/img/g_info1.jpg" width="760" height="1059" /></div>
        </div>
        <a name="guige" style="display:block;" href="javascript:void(0)"></a>
        <div style="height:40px;"></div>
        <div class="goodsInfo2" style="height:666px;">
          <div> <img src="http://www.hxshop.com/static/img/pub/dev/web/g.gif" original="static/img/desc_08.jpg" width="960" height="57" alt="参数规格" /> </div>
          <div class="guigetable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th>材料说明</th>
                <td>橡胶木+松木+中纤板+白杨木夹板+宝丽板+嵚入式门铰</td>
              </tr>
              <tr>
                <th>主材质</th>
                <td>橡胶木（衣柜脚、挂衣杆）；松木（层板）</td>
              </tr>
              <tr>
                <th>副材质</th>
                <td>中纤板（顶板、侧板、门板、底板、背板、挂衣托、抽面板、抽底板）；白杨木夹板（抽盒）；宝丽板（背板、抽底板双面贴）；嵚入式门铰</td>
              </tr>
              <tr>
                <th>长度</th>
                <td>1.9米</td>
              </tr>
              <tr>
                <th>宽度</th>
                <td>0.59米</td>
              </tr>
              <tr>
                <th>高度</th>
                <td>2.195米</td>
              </tr>
              <tr>
                <th>包装件数</th>
                <td>4</td>
              </tr>
              <tr>
                <th>包装类型</th>
                <td>KD</td>
              </tr>
              <tr>
                <th>产品特征</th>
                <td>传承优雅，引领风尚，简美主义注意实用，舒适与功能于一体，利用有限的住房空间，布置出不同的生活韵味，简约而不简单。</td>
              </tr>
              <tr>
                <th>细节描述</th>
                <td>此衣柜款式设计大气、时尚，柜脚为实木材质的车积脚，挂衣杆设计成圆棒形，结实牢固。</td>
              </tr>
              <tr>
                <th>空间参考</th>
                <td>空间面积在10平方米左右就可以放出图中的效果。</td>
              </tr>
              <tr>
                <th>费用情况</th>
                <td>买家承担运费，物流费用按体积计算！产品根据地区、体积、重量计费，具体地方运费买家可随时咨询。我们会为您选择最实惠，最快的货运公司发货。</td>
              </tr>
              <tr>
                <th>发货周期</th>
                <td>发货周期为45天左右，详情可以咨询在线客服。</td>
              </tr>
              <tr>
                <th>保养说明</th>
                <td>避免利器或硬质物体与家具表面直接接触，以防缩短家具的使用寿命。</td>
              </tr>
              <tr>
                <th>友情提示</th>
                <td>所有产品均为实物拍摄，因摄影或显示原因，产品颜色请以实物为准。产品尺寸因人工测量，有少许误差，敬请谅解。</td>
              </tr>
              <tr>
                <th>规格</th>
                <td>1900*590*2195mm</td>
              </tr>
            </table>
          </div>
        </div>
        <a name="shouhou" style="display:block;" href="javascript:void(0)"></a>
        <div style="height:40px;"></div>
        <div class="goodsInfo3" style="height:1777px;">
          <div class="service1"></div>
          <div><img src="http://www.hxshop.com/static/img/pub/dev/web/g.gif" original="static/img/g_info2.jpg" /></div>
          <div class="buynotice"></div>
          <div class="notesTitle"><span class="notesNo">01</span> 产品说明</div>
          <p class="noteP">红星家品会内所有商品均为实物拍摄，且尽量接近实物。但由于灯光、不同显示器的显示偏差以及每个人对色彩的理解不同所导致的色差
            问题不可避免。此类问题不属于质量问题，不能接受色差的朋友请慎拍。</p>
          <div class="notesTitle"><span class="notesNo">02</span> 快递说明</div>
          <p class="noteP">红星家品会商品使用最优质的第三方物流进行配送。</p>
          <div class="notesTitle"><span class="notesNo">03</span> 退换货须知</div>
          <p class="noteP">商品签收后7天内（以快递的送货单上的签收日期为准）需要申请退换货的，必须网上提交退换货申请并由家品会客服受理通过，方可无条件退货（除顾客人为损坏）。</p>
          <div class="notesTitle"><span class="notesNo">04</span> 售后服务</div>
          <p class="noteP">无理由退货:   客户购买商品7日内（含7日，自客户收到商品之日起计算）不需任何理由就能在网上提交退货申请，家品会客服受理并决定是否审核通过。法定节假日、停电、天气等不可抗力情况除外。</p>
          <p class="noteP">售后无忧：客户购买商品15日内（自客户收到商品之日起计算）如出现商品质量问题（非消费者原因导致），家品会售后服务部收到故障品并确认属于质量故障（以国家三包法等有关法律、法规为准）将在最快时间内帮顾客联系商家并妥善解决退换货。如发生退款我司除全额退款外再给予客户10元优惠券作为补偿！</p>
          <p class="noteP">售后到家:   自商品售出在国家规定有效保障期内，家品会将提供符合国家三包标准的售后服务。</p>
        </div>
        
         <a name="comment" style="display:block;" href="javascript:void(0)"></a>
         <div style="height:40px;"></div>
         
         <div class="goodsInfo4" style="height:1116px;">
         	<!--商品总评价-->
         	<div class="commentTotalBox">
            	<div class="commentPercent">
                	<div class="percentNum"><span>97</span>% 好评</div>
                    <div>共有40人参加评价</div>
                </div>
                <div class="percentTable">
                	<dl><dt>好评（95%）</dt><dd><div style="width:95px;"></div></dd></dl>
                    <dl><dt>中评（5%）</dt><dd><div style="width:5px;"></div></dd></dl>
                    <dl><dt>差评（0%）</dt><dd><div style="width:0px;"></div></dd></dl>
                </div>
                <!--
                <div class="commentTip">
                	<div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                    <div><span>外观大器</span><em>(10)</em></div>
                </div>
                -->
                <div class="commentBtn">
                	<div>您可以对已购商品进行评价</div>
                    <div class="commentjf"><input type="button" class="btn2" value="发评价拿积分"  style="width:120px;" /></div>
                </div>
            </div>
            
            
            <!--评价列表-->
            <div class="commentList">
            	<dl>
                	<dt>
                    	<div class="u_icon"><img src="resource/img/cnnic.png" width="60" height="60" /></div>
                        <div class="u_name"><a href="">缺斤少两</a></div>
                        <div class="u_level">VIP会员</div>
                        <div class="u_city">湖南益阳</div>
                        <div class="tl"></div>
                    </dt>
                    <dd>
                    	<div class="o-topic">
                        	<span class="star sa5"></span>
                            <span><a class="date-comment" title="查看评价详情" target="_blank">2014-06-13 11:55</a><em class="fr hl_blue"></em></span>
                        </div>
                        
                        <div class="comment-content">
                        	<dl>
                            	<dt>心得：</dt>
                                <dd> 平时体质比较差，工作忙营养也不够，吃了之后感觉不那么容易感冒了，便秘也有所改善，气色好了很多，最重要的是口感也能够接受，大多数蛋白粉都腥味太重，这款好喝很多，最贴心的在于放在包包里可以带到公司，外出什么的都比较方便了，也干净卫生一些，大罐的感觉成分时间变长会变质呢，这款会回购的。京东快递真的很给力，送货的小哥还说了希望你越来越美呢，哈哈哈。</dd>
                            </dl>
                            <dl> 
                            	<dt>晒单：</dt>
                                <dd>
                                	<div class="comment-show-pic">
                                        <span><img src="resource/img/temp/1.jpg" width="50" height="50" /></span>
                                        <span><img src="resource/img/temp/2.jpg" width="50" height="50" /></span>
                                        <span><img src="resource/img/temp/3.jpg" width="50" height="50" /></span>
                                    </div>
                                </dd>
                             </dl>
                             <dl class="bigImgdl">
                             	<dt>&nbsp;</dt>
                                <dd class="bigImgdd">
                                	<div class="bigImgBox">
                                    	<div><span class="bigImgClose">收起</span> <a class="orignalSrc" href="resource/img/temp/2.jpg" target="_blank">查看原图</a></div>
                                        <div class="bigImg">
                                        	<div class="bigImgLeft"></div>
                                            <div class="bigImgRight"></div>
                                        	<img src="resource/img/temp/2.jpg" width="400"  />
                                        </div>
                                    </div>
                                </dd>
                             </dl>
                             <div class="dl-extra">
                                 <dl><dt>颜色：</dt><dd>白色</dd></dl>
                                 <dl><dt>材质：</dt><dd>实木</dd></dl>
                                 <dl><dt>购买日期：</dt><dd>2013-07-04</dd></dl>
                             </div>                        
                         </div>
                         
                         
                        <div class="comment_apply">
                        	家品会回复：<span class="apply_c">乌拉拉哇哈哈伊嘻嘻</span>
                        </div>
                         
                        
                        
                    </dd>
                </dl>
                
                
                <dl>
                	<dt>
                    	<div class="u_icon"><img src="resource/img/cnnic.png" width="60" height="60" /></div>
                        <div class="u_name"><a href="">缺斤少两</a></div>
                        <div class="u_level">VIP会员</div>
                        <div class="u_city">湖南益阳</div>
                        <div class="tl"></div>
                    </dt>
                    <dd>
                    	<div class="o-topic">
                        	<span class="star sa4"></span>
                            <span><a class="date-comment" title="查看评价详情" target="_blank">2014-06-13 11:55</a><em class="fr hl_blue"></em></span>
                        </div>
                        
                        <div class="comment-content">
                        	<dl>
                            	<dt>心得：</dt>
                                <dd> 平时体质比较差，工作忙营养也不够，吃了之后感觉不那么容易感冒了，便秘也有所改善，气色好了很多，最重要的是口感也能够接受，大多数蛋白粉都腥味太重，这款好喝很多，最贴心的在于放在包包里可以带到公司，外出什么的都比较方便了，也干净卫生一些，大罐的感觉成分时间变长会变质呢，这款会回购的。京东快递真的很给力，送货的小哥还说了希望你越来越美呢，哈哈哈。</dd>
                            </dl>
                            <dl> 
                            	<dt>晒单：</dt>
                                <dd>
                                	<div class="comment-show-pic">
                                    	<span><img src="resource/img/temp/4.jpg" width="50" height="50" /></span>
                                        <span><img src="resource/img/temp/5.jpg" width="50" height="50" /></span>
                                        <span><img src="resource/img/temp/6.jpg" width="50" height="50" /></span>
                                    </div>
                                </dd>
                             </dl>
                             <dl class="bigImgdl">
                             	<dt>&nbsp;</dt>
                                <dd class="bigImgdd">
                                	<div class="bigImgBox">
                                    	<div><span class="bigImgClose">收起</span> <a class="orignalSrc" href="resource/img/temp/2.jpg" target="_blank">查看原图</a></div>
                                        <div class="bigImg">
                                        	<div class="bigImgLeft"></div>
                                            <div class="bigImgRight"></div>
                                        	<img src="resource/img/temp/2.jpg" width="400"  />
                                        </div>
                                    </div>
                                </dd>
                             </dl>
                             <div class="dl-extra">
                                 <dl><dt>颜色：</dt><dd>白色</dd></dl>
                                 <dl><dt>材质：</dt><dd>实木</dd></dl>
                                 <dl><dt>购买日期：</dt><dd>2013-07-04</dd></dl>
                             </div>                        
                         </div>
                         
                         
                        <div class="comment_apply">
                        	家品会回复：<span class="apply_c">乌拉拉哇哈哈伊嘻嘻</span>
                        </div>
                         
                        
                        
                    </dd>
                </dl>
                
                
                
            </div>
            
           
            
            
            
         </div>
         
         
         
          <a name="refer"></a>
            
            
            <!--购买咨询 end-->
         <div class="goodsInfo5">
            <!--购买咨询-->
            <div class="refer_top">
            	<div class="refer_title">购买咨询</div>
                <div class="refer_box">
                	<div class="refer_tishi"><b>温馨提示：</b>因厂家更改产品包装、产地或者更换随机附件等没有任何提前通知，且每位咨询者购买情况、提问时间等不同，为此以下回复仅对提问者3天内有效，其他网友仅供参考！若由此给您带来不便请多多谅解，谢谢！</div>
                    <div class="refer_btn"><input type="button" class="btn2" value="我要咨询"  id="askBtn" style="width:90px;"/></div>
                </div>
            </div>
            
            <div class="Refer_List">
                <div class="refer">
                    <div class="r_info">
                    	<span class="r_info_left">家品会会员：</span><a rel="nofollow" href="http://club.jd.com/userreview/209995864-1-1.html" target="_blank">jd_186278lxv</a>
                        <span class="r_info_right">2014-06-24 11:47:51</span>
                    </div>
                    <dl class="ask">
                        <dt>咨询的内容：</dt>
                        <dd><a target="_blank" href="http://club.jd.com/consultation/972747-33614075.html">
                            我买的联通版  怎样去掉运营商标志
                            </a>
                        </dd>
                    </dl>
                    <dl class="answer">    
                        <dt>家品会回答：</dt>
                        <dd><div class="content">您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！</div><div class="date-answer">2014-06-30 09:19:54</div></dd>
                    </dl>                      
                </div>	
                
                 <div class="refer">
                    <div class="r_info">
                    	<span class="r_info_left">家品会会员：</span><a rel="nofollow" href="http://club.jd.com/userreview/209995864-1-1.html" target="_blank">jd_186278lxv</a>
                        <span class="r_info_right">2014-06-24 11:47:51</span>
                    </div>
                    <dl class="ask">
                        <dt>咨询的内容：</dt>
                        <dd><a target="_blank" href="http://club.jd.com/consultation/972747-33614075.html">
                            我买的联通版  怎样去掉运营商标志
                            </a>
                        </dd>
                    </dl>
                    <dl class="answer">    
                        <dt>家品会回答：</dt>
                        <dd><div class="content">您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！</div><div class="date-answer">2014-06-30 09:19:54</div></dd>
                    </dl>                      
                </div>	
                
               
                
                <div class="refer">
                    <div class="r_info">网　　友：<a rel="nofollow" href="http://club.jd.com/userreview/209995864-1-1.html" target="_blank">jd_186278lxv</a>&nbsp;&nbsp;&nbsp;&nbsp;<em id="level" name=""></em>&nbsp;&nbsp;&nbsp;&nbsp;2014-06-24 11:47:51</div>
                    <dl class="ask">
                        <dt>咨询内容：</dt>
                        <dd><a target="_blank" href="http://club.jd.com/consultation/972747-33614075.html">
                            我买的联通版  怎样去掉运营商标志
                            </a>
                        </dd>
                    </dl>
                    <dl class="answer">    
                        <dt>家品会答：</dt>
                        <dd><div class="content">您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！您好！升级国内版固件即可，不明之处可咨询售后服务，联系方式为4007883333。感谢您对京东的支持！祝您购物愉快！</div><div class="date-answer">2014-06-30 09:19:54</div></dd>
                    </dl>                      
                </div>	
            </div>
            
            
            <div class="prepages">
                <p class="fr">
                <a href="#">首页</a>
                <a href="#">上一页</a>
                <a class="currentPage" href="#">1</a>
                <a href="#">2</a>
                <a href="#">下一页</a>
                <a href="#">尾页</a>
                <a href="#">1/共2页</a>
                </p>
            </div>
            </div>
        
        
      </div>
      <!--商品详情 end--> 
    </div>
  </div>
</div>
<div class="bottom"></div>
<!--加入购物车弹层-->
<div id="popbox">
  <h2>添加成功 <span id="closepop">关闭</span></h2>
  <div id="popinfo">
    <div class="popimg poptips"></div>
    <p class="popgo"><a href="#" class="popbuy popimg">去结算</a> <a href="#" class="popcon popimg">继续购物</a> </p>
  </div>
</div>

<!--服务方式弹层-->
<div id="popbox2">
  <h2>选择送货方式 <span id="closepop2">关闭</span></h2>
  <div id="popinfo">
    <div>
    	<input type="radio" class="chkbox" name="r1"/> 送货上门并安装 <br />
        <input type="radio" class="chkbox" name="r1" /> 送货上门 <br />
        <input type="radio" class="chkbox" name="r1" /> 自取 <br />
        
    </div>
    <div style="margin-top:20px; margin-left:90px;"><input type="button" class="btn2" value="确定" /></div>
    <!--<p class="popgo" onclick="location.href='购物车.html'"><a href="#" class="popbuy popimg">去结算</a> <a href="#" class="popcon popimg">继续购物</a> </p>-->
  </div>
</div>

<!--我要咨询弹层-->
<div id="popRefer">
	<div class="popReferTitle">
    	<div class="popReferClose">关闭</div>
    	我要提问
    </div>
    <div class="popReferContent">
    	内容：<textarea></textarea>
    </div>
    <div class="popReferSubmit">
    	<input type="button" value="提交" style="width:100px; height:30px;" class="btn2" />
    </div>
</div>


<div id="popbg"></div>
<!--加入购物车弹层 end-->
<!--放大镜js-->
<script src="resource/js/jqzoom.js" type="text/javascript"></script> 
<!--首页轮播动功能嵌入index.JS
<script type="text/javascript" src="static/js/index.js"></script> -->
<!--左右滑动功能嵌入frame.JS-->
<script type="text/javascript" src="static/js/frame.js"></script> 
<script type="text/javascript">
	//计数数量	
	var jsNum = $('.js_num').val();	
	$('.js_add').click(function(){
		jsNum = $('.js_num').val();
		jsNum ++;
		$('.js_num').val(jsNum);
	});	
	$('.js_minus').click(function(){
		jsNum = $('.js_num').val();
		if(jsNum <= 1){return;	
		 }else{jsNum --;}
		$('.js_num').val(jsNum);		
	});	
	//定义却换图片方法，方法名称ID对象，原始地址 		
	function changeImg(id,saveurl){		
   		 $(id).attr('jqimg',saveurl);
   		 $(id).attr('src',saveurl);}
	$(document).ready(function(){		
		//控制页面图片懒加载延迟加载(src 写成original):
		/**
  	  	 $(".goodsInfo1 img , .goodsInfo2 img , .goodsInfo3 img").lazyload({
       	  placeholder : "http://www.hxshop.com/static/img/pub/dev/web/g.gif",
      	  effect : "fadeIn",
      	  threshold : 300});
		  **/
		//显示购物车
		$("#addcart").click(function(){ $("#popbox, #popbg").show();})
		$("#closepop").click(function(){ $("#popbox, #popbg").hide();});	
		$("#closepop2").click(function(){ $("#popbox2, #popbg").hide();});	
		$('.yh_jr').click(function(){$("#popbox2, #popbg").show();})
		
		//小图片选中状态
		$(".imagelist li").click(function(){ $(this).addClass("select").siblings().removeClass("select");})
   		//放大镜
   		$(".jqzoom").jqueryzoom({xzoom: 430,yzoom: 430,offset: 10,position: "right",preload: 1,lens:1});
   		//左右滑动按钮 左侧按钮，右侧按钮，列表总长度，移动的标签，移动的宽度，多少个移动否则不 引用的js为frame.js
		//hx.utils.scrollRL(".leftb",".rightb",".imagelist","li","96",{sz:4});
		//优惠展开
		$('.open0').toggle(function(){
			$('.opencontent0').show();
			$(this).html('收起更多∧');
		},function(){
			$('.opencontent0').hide();
			$(this).html('展开更多∨');	
		});
		$('.open1').toggle(function(){
			$('.opencontent1').show();
			$(this).html('收起更多∧');
		},function(){
			$('.opencontent1').hide();
			$(this).html('展开更多∨');	
		});
			$('.open2').toggle(function(){
			$('.opencontent2').show();
			$(this).html('收起更多∧');
		},function(){
			$('.opencontent2').hide();
			$(this).html('展开更多∨');	
		});
		//优惠展开END
	//执行tab菜单的滚动浮动
	//上部高度
	var goodsChooseH = $('.goodsChoose').height() + 50 + 185 +$('.yhtz').height(); //50间隙高度 185为头部高度
	var goodsInfo1 = goodsChooseH + $('.goodsInfo1').height();
	var goodsInfo2 = goodsInfo1 + $('.goodsInfo2').height();
	var goodsInfo3 = goodsInfo2 + $('.goodsInfo3').height();
	var goodsInfo4 = goodsInfo3 + $('.goodsInfo4').height();
	var goodsInfo5 = goodsInfo4 + $('.goodsInfo5').height();
	function adjustTab(){		
		$('.spTab>ul>li:eq(0)').addClass('spTabHit').siblings().removeClass('spTabHit');
		if($(window).scrollTop() >= goodsChooseH && $(window).scrollTop()<goodsInfo1){			
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab>ul>li:eq(0)').addClass('spTabHit').siblings().removeClass('spTabHit');
			$('.ppMore').hide();
			$('.gtcar').show();
		}else if($(window).scrollTop() < goodsChooseH){
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab').css({'position':'relative'});
			$('.ppMore').show();
			$('.gtcar').hide();
		}else if($(window).scrollTop() >= goodsInfo1 && $(window).scrollTop()< goodsInfo2){
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab>ul>li:eq(1)').addClass('spTabHit').siblings().removeClass('spTabHit');
		}else if($(window).scrollTop() >= goodsInfo2 && $(window).scrollTop()< goodsInfo3 ){
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab>ul>li:eq(2)').addClass('spTabHit').siblings().removeClass('spTabHit');
		}
		else if($(window).scrollTop() >= goodsInfo3 && $(window).scrollTop()< goodsInfo4 ){
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab>ul>li:eq(3)').addClass('spTabHit').siblings().removeClass('spTabHit');
		}
		else if($(window).scrollTop() >= goodsInfo4 && $(window).scrollTop()< goodsInfo5 ){
			$('.spTab').css({'position':'fixed','top':'0px','width':'951px'});
			$('.spTab>ul>li:eq(4)').addClass('spTabHit').siblings().removeClass('spTabHit');
		}	
	}
		adjustTab();
		$(window).scroll(function(){
			adjustTab();
		});
		//tab菜单
		$('.spTab ul li').click(function(){
			var spIndex = $(this)
			$('.spTab').css({'position':'fixed','top':'0px','width':'1009px'});
			location.href='#'+$(this).attr('name');
			setTimeout(function(){spIndex.addClass('spTabHit').siblings().removeClass('spTabHit')},50);
		});
	  //选择颜色
		$('.colorChoose li').click(function(){
		 $(this).addClass('colorHit').siblings().removeClass('colorHit');
		})	
	  //选择尺寸
		$('.sizeChoose li').click(function(){
			$(this).addClass('sizeHit').siblings().removeClass('sizeHit');	
		});
		//城市移入效果
		$('.citySel>ul>li').live('mouseover',function(){
			$(this).addClass('cityHover');	
			$(this).siblings().children('ul').css('display','none');
		}).live('mouseleave',function(){
			$(this).removeClass('cityHover');	
		}).live('click',function(){
			$(this).children('ul').css('display','block');
		});	
			$('.citybox').live('click',function(){
			$('.citySel').show();
			$('.citySel>ul>li>ul').hide();	
		});	
			$('.citySel>ul>li>ul').mouseleave(function(){
			$(this).hide();
		});
		$('.citySel>ul>li>ul>li').live('click',function(){
			$('.citybox').val($(this).html());
			$('.citySel').hide();
		});	
		$('.cityClose').live('click',function(){
			$('.citySel').hide();	
		});
		
		
		//优惠套装
		$('.yhtz_tab li').mouseover(function(){
			$(this).siblings().removeClass('hit');
			$(this).addClass('hit');	
			$('.yhtz_c>div:eq('+$(this).index()+')').show().siblings().hide();	
			$('.yhtz_c>div:eq('+$(this).index()+') .sub ul').width(143 * $('.yhtz_c>div:eq('+$(this).index()+') .sub ul').find('li').length +3);
		})
		
		$('.yhtz_c>div:eq(0) .sub ul').width(143 * $('.yhtz_c>div:eq(0) .sub ul').find('li').length +3);
		
		
		
		//图片缩放展开
		var currentImgIndex = 0;
		var currentImgSrc;
		var smallImgMaxLen;	//小图片最大数
		
		$('.comment-show-pic>span').live('click',function(){
			smallImgMaxLen = $(this).parent().find('span').length;
			currentImgIndex = $(this).index();
			
			var imgSrc = $(this).children('img').attr('src');
			$(this).addClass('smallimghit').siblings().removeClass('smallimghit');
			if($.browser.msie&&($.browser.version == "7.0")){
				$(this).parent().parent().parent().parent().parent().find('.bigImgdl').show();
			}else{
				$(this).parent().parent().parent().parent().parent().find('.bigImgdl').slideDown();
			}
			
			
			$(this).parent().parent().parent().parent().parent().find('.bigImgdl').children().find('.bigImg').children('img').attr('src',imgSrc);
			$(this).parent().parent().parent().parent().parent().find('.bigImgdl').children().find('.orignalSrc').attr('href',imgSrc);
			
			$(this).parent().parent().parent().parent().parent().parent().siblings().find('.bigImgdl').slideUp();
			
		})
		
		
		
		//图片缩放收起
		$('.bigImgClose').live('click',function(){
			if($.browser.msie&&($.browser.version == "7.0")){
				$(this).parent().parent().parent().parent().hide();
			}else{
				$(this).parent().parent().parent().parent().slideUp();
			}
			
			
			$('.comment-show-pic>span').removeClass('smallimghit');
			currentImgIndex = 0;
		})
		
		//图片向右切换
		$('.bigImgRight').live('click',function(e){			
			if(currentImgIndex >= smallImgMaxLen-1){	
				return;		
				 
			}else{				
				currentImgIndex ++;
				$(this).parent().parent().parent().parent().parent().children().find('.comment-show-pic').children('span:eq('+currentImgIndex+')').addClass('smallimghit').siblings().removeClass('smallimghit');
				currentImgSrc = $(this).parent().parent().parent().parent().parent().children().find('.comment-show-pic').children('span:eq('+currentImgIndex+')').children('img').attr('src');			
				$(this).parent().children('img').attr('src',currentImgSrc);
				$('.bigImgRight').show();
				$(this).parent().parent().find('.orignalSrc').attr('href',currentImgSrc);
			}		
		}).live('mousemove',function(e){
			e.stopPropagation();
		})
		
		//图片向左切换
		$('.bigImgLeft').live('click',function(){
			if(currentImgIndex == 0){
				return;
			}else{				
				currentImgIndex --;
				$(this).parent().parent().parent().parent().parent().children().find('.comment-show-pic').children('span:eq('+currentImgIndex+')').addClass('smallimghit').siblings().removeClass('smallimghit');
				currentImgSrc = $(this).parent().parent().parent().parent().parent().children().find('.comment-show-pic').children('span:eq('+currentImgIndex+')').children('img').attr('src');		
				$(this).parent().children('img').attr('src',currentImgSrc);
				$('.bigImgLeft').show();
				$(this).parent().parent().find('.orignalSrc').attr('href',currentImgSrc);
			}
		})
		
		/**
		$(".bigImg img").mousemove(function(e){
			var positionX=e.originalEvent.x-$(this).offset().left||e.originalEvent.layerX-$(this).offset().left||0; 
			if (positionX < $(this).width()/2){	
					$('.bigImgLeft').show();
												
			}else{		
					$('.bigImgRight').show();
									
			}
		}).mouseleave(function(){
			$('.bigImgRight').hide();
			$('.bigImgLeft').hide();
		})
		**/
		
		//我要咨询
		$('#askBtn').click(function(){
			$('#popRefer').show();
			$('#popbg').show();
		})
		
		$('.popReferClose').click(function(){
			$(this).parent().parent().hide();
			$('#popbg').hide();
		})
		
		
	});
    </script>
  
   <!--<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1374108370897446" charset="utf-8"></script>-->
</body>
</html>